{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>

</head>
<body>
<form action="/postsign/" method="post">
    {% csrf_token %}
    Email :
    <input type="email" name="email"><br><br>
    Password:
    <input type="password" name="pass"><br><br>
    <input type="submit" value="SignIn">
    <button type="button" onclick="location.href='{% url 'signup' %}'">SignUp</button>
</form>
</body>
</html>